body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    background-image: url(../img/fondo.jpg);
}

nav {
    font-size: 2rem;
    background-color: rgb(231, 231, 231);
    overflow: hidden;
    text-align: center;
}

nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

h2 {
    font-size: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f2f2;
}

table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.btn-volver {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ff0000;
    transition: background-color 0.3s, color 0.3s;
}

.btn-volver:hover {
    background-color: #1be609;
    color: #fff;
}